.banner {
    border-radius: 25px;
    padding: 80px;
    margin: 0 4vw;
    text-align: center;
    color: blue;
    background-image: url(http://localhost:3000/images/banner1.png);
    background-size: cover;
}
