.collapse {
    border: 1px solid #ff6060;
    border-radius: 10px;
    margin-bottom: 35px;
    overflow: hidden;
    color: #fff;
    width: 60vw;
}

.collapse-header {
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 1vw;
}

.arrow {
    transition: transform 0.3s ease;
}

.open .arrow {
    transform: rotate(180deg);
}

.collapse-content {
    background-color: #f6f6f6;
    padding: 10px;
    color: #ff6060;
}

.collapses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapses-containerInfo {
    margin: 40px 4vw 50px 4vw;
    display: flex;
    flex-direction: row;
    width: 91vw;
    gap: 3vw;
}

.collapse-content ul {
    list-style-type: none;
}

.collapse-content li {
    padding: 5px;
}
