.infos-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4vw;
    @media (max-width: 800px) {
        .infos-container {
            flex-direction: column; /* Met les éléments en colonne */
            align-items: center; /* Centre les éléments horizontalement */
        }
    }
}

.part-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.infos-fiche {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #ff6060;
}

p {
    color: #ff6060;
}

.tag {
    display: inline-block;
    border: 1px solid #ff6060;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
    margin-right: 5px;
}

.host {
    display: flex;
    align-items: center;
    color: #ff6060;
}

.host img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0.8vw;
}

.rating {
    margin-top: 20px;
    color: #ff6060;
}

.red {
    color: #ff6060;
}

.grey {
    color: #e3e3e3;
}
