.page-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-error a {
    color: #ff6060;
    margin: 100px 0 46px 0;
}

.page-error img {
    margin: 80px 0 80px 0;
}

.page-error h2 {
    color: #ff6060;
    @media (max-width: 800px) {
        width: 80%;
    }
}

.page-error a {
    color: #ff6060;
    margin-top: 50px;
}

@media (max-width: 800px) {
    .error-desktop {
        display: none;
    }
}

@media (min-width: 801px) {
    .error-mobile {
        display: none;
    }
}
