header {
    padding: 30px 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-left: 4vw;
    text-decoration: none;
    color: #ff6060;
}

.nav-about {
    text-decoration: none;
    color: #ff6060;
}
